---
// components
import Section from "@elements/Section.astro";
import Text from "@elements/Text.astro";

const locale = Astro.currentLocale ?? 'es';

const content = {
  es: {
    title: "Introducción",
    greeting: "¡Buenas!",
    intro: "Soy Jorge Sánchez, estudiante de DAM y técnico de sonido...",
  },
  en: {
    title: "Introduction",
    greeting: "Hey there!",
    intro: "I'm Jorge Sánchez, a DAM student and sound technician...",
  }
}

const {title, greeting, intro } = content[locale as 'es'|'en'] ?? content['es'];
---

<Section aria-label={title} title={title} titleHeading={greeting}>
    <Text variant={'normal'} class="text-base-400">{intro}</Text>
</Section>